# load nix-direnv 3.1.1
if ! has nix_direnv_version || ! nix_direnv_version 3.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.1/direnvrc" "sha256-p+fzQdrms/hDa7g+soShAybJNo4bN4SIAeSfqNKgD5I="
fi
# rebuild when .env is modified
watch_file .env
watch_file scripts/load-env.sh
# rebuild when files in the utils folder are modified (nix-direnv doesn't detect these)
watch_file $(git ls-files lib)
# rebuild when the flake or its dependencies are modified
use flake

